# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# dotenv
.env


# IDE stuff
.idea
.vscode

### macOS template
.DS_Store

### personal playground
play

### static file
data
*.png
*.jpg
*.log
*.csv
*.xlsx
cookies.txt
configs.py
.ipynb_checkpoints